*{
    margin: 0;
    padding: 0;
}

:root { 
    --main-bg-color: #f1eded; 
    --main-text-color: #141204;
    --accent-color-pink: #F8AD9D; 
    --accent-color-green: #D2E59E;
}

@font-face {
    font-family: "JosefinSans";
    src: url("fonts/josefinsans-regular-webfont.woff") format("woff");
}

html, body{
    height: 100%;
}

body{
    font-family: "JosefinSans", sans-serif;
    color: var(--main-text-color);
    min-height: 100%;
}

.container{
    height: 100%;
}

.header{
    background-color: var(--accent-color-pink);
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;    
}

.sidebar ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 0px;
}

.sidebar li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar{
    width: 20%;
    background-color: var(--accent-color-green);
    z-index: 1;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 2fr));
    width: 100%;
}

.income1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.income1 div, 
.income1 h3 {
    padding: 20px;
}

.expenses1 {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.income2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.income2 div, 
.income2 h3 {
    padding: 20px;
}

.expenses2 {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}

.overview {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
}

.contentContainer {
    display: flex;
    width: 100%;
}